---
import type { CollectionEntry } from 'astro:content';

interface Props {
  score: CollectionEntry<'scores'>;
  thumbnail: string | undefined;
}

const { score, thumbnail } = Astro.props;
---

<script>

</script>

<div class="inline-flex items-stretch flex-col py-4 px-10 rounded-md bg-gray-800 shadow-lg hover:shadow-2xl transition-shadow">
	<p class="text-xl">{score.data.title}</p>
	<p class="author">{score.data.author}</p>
	<a class="my-4 self-center" href={`/scores/${score.data.filename}.pdf`}><img src={thumbnail} class="rounded-md"></a>
	<div class="flex justify-center gap-3 ">
		<a class="download" href={`/scores/${score.data.filename}.pdf`} download>
			<button class="flex justify-evenly w-[95px] px-2 border-2 border-gray-900 rounded-md hover:bg-gray-600 active:bg-gray-700">PDF <img class="inline w-6" src="/download.svg" ></button>
		</a>
		<a class="download" href={`/scores/${score.data.filename}.mscz`} download>
			<button class="flex justify-evenly w-[95px] px-2 border-2 border-gray-900 rounded-md hover:bg-gray-600 active:bg-gray-700">MSCZ <img class="inline w-6" src="/download.svg" ></button>
		</a>
	</div>
</div>