---
import type { CollectionEntry } from 'astro:content';

interface Props {
  score: CollectionEntry<'scores'>;
  thumbnail: string | undefined;
}

const { score, thumbnail } = Astro.props;
---

<script>

</script>

<div class="inline-flex items-center flex-col p-4 border-2 border-gray-900 rounded-md bg-gray-800">
	<p class="name">{score.data.title}</p>
	<p class="author">{score.data.author}</p>
	<a href={`/scores/${score.data.filename}.pdf`}><img src={thumbnail} class="rounded-md"></a>
	<a class="download" href={`/scores/${score.data.filename}.pdf`} download>
		<button>PDF <img class="inline align-middle" src="/download.svg" width="16px"></button>
	</a>
	<a class="download" href={`/scores/${score.data.filename}.mscz`} download>
		<button>MSCZ <img class="inline align-middle"src="/download.svg" width="16px"></button>
	</a>
</div>


<style>
	.card {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		width: 250px;
	}
</style>
